.page {
  padding: 16px 16px 96px 16px;
}

.section-container {
  padding: 16px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 24px;
}

.leaflet-control-attribution {
  display: none;
}

.leaflet-top .leaflet-control {
  margin-top: 40px;
}